%p= link_to "Current Sentiment (Pie Chart)", pie_chart_charts_path
%p= link_to "Top 10 tweeters", top_tweeters_chart_charts_path
%p= link_to "Historical Trend of Sentiment (Line Chart)", trend_chart_charts_path
%p= link_to "Back to list", tweets_path