%p= link_to "Current Sentiment (Pie Chart)", pie_chart_charts_path
%p= link_to "Top tweeters", top_tweeters_chart_charts_path
%p= link_to "Historical Trend of Sentiment (Line Chart)", trend_chart_charts_path
%p= link_to "Back to tweet list", tweets_path
