body {
	font-family: Arial;
}

.tweet {
  display: block;
  margin: 6px 0;
  padding: 6px 10px;
  font-size: 16px;
	border-width: 2px;
}

.positive {
	background-color: #EEFFCC;
	border-color: #C6DD97;
}

.negative {
	background-color: #FFE0E0;
	border-color: #FFC2C2;
}

.neutral {
	background-color: #CCFFFF;
	border-color: #CCCCFF;
}