body {
	font-family: Arial;
}

.tweet {
  display: block;
  margin: 6px 0;
  padding: 6px 10px;
  font-size: 16px;
  border:2px solid;
  border-radius:5px;
}

.positive {
	background-color: #EEFFCC !important;
	border-color: #C6DD97;
}

.negative {
	background-color: #FFE0E0 !important;
	border-color: #FFC2C2;
}

.neutral {
	background-color: #CCFFFF !important;
	border-color: #CCCCFF;
}

.sentiment-change {
	display: inline-block;
	padding-top: 20px;
	vertical-align: top;
}

.tweet .text {
	display: inline-block;
	width: 80%;
}

.radio {
	padding: 0px;
}